@media only screen and (max-device-width: 900px) {
    body { width: 100%; }
}

body{
    width: 100%;
    margin: 0;
    background-image: url('/img/wall.png');
    align-items: center;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}


#bg{
    filter:blur();
    
}

#header{
    background-image: linear-gradient(rgb(58, 58, 58), rgb(00,00,00));
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;

}

#title{
    color: aliceblue;
}

#logo{
    width: 80px;
    height: 60px;
    filter: invert();
    margin-left: 35px;
}

#sideButton{
    margin-top: 6px;
    width: 70px;
    height: 50px;
    background: none;
    border: 0;
    align-self: flex-end;
    margin-bottom: 5px;
}

#user{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background: none;
}

#pera{
    margin-right: 10px;
    margin-top: 5px;
}

.flor{
    filter: invert();
}

#cebola{
    filter: invert();
}



#guitarcenter{
    align-self:center;
    width: 80%;
    height: auto;
    background-color: black;
    padding: 4px;
}

#paragrafo{
    color:azure;
    background-color: rgba(0, 0, 0, 0.507);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

#loginarea{
    width: 96%;
    background-color: rgba(70, 70, 70, 0.315);
    text-align: center;
    border: 4px solid black;
    

}
#subscribe{
    color: aliceblue;
    text-align: center;
}

#butazinho{
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parts{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    
}

#descricao{
    width: 100%;
    color: white;
    text-align: center;
}

#pickup{
    size: 100%;
}
#switch{
    margin-bottom: -10%;
}
#bridge{
    margin-bottom: 60px;
    
    width: 60%;
}

.bordas{
    width: 98%;
    padding: 2px;
}
